**/.env
**/.env.json
docs/_site/
static/
.vscode
.gitignore
**/__pycache__/
rxzvenv/

**/structs{*}.txt
**/node_modules/
**/venv/
**/mole
**/static/
**/polyvenv/
**/*.cif
**/*.zip
**/*.part
**/*.pem
**/*.json
!LSUMap.json
!SSUMap.json

**/downloads2021sept/**
**/settings.py
